body {
  background-color: rgb(248, 247, 238);
  width: 30%;
  margin: 0 auto;
}

h1 {
  font-family: monospace;
  font-size: 30pt;
  margin-bottom: 8px;
}

header > p {
  font-size: 15pt;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.itemToSell {
  outline: 1px rgb(176, 228, 176) dashed;
  margin-bottom: 40px;
  border-radius: 1em;
  border: 2px solid rgb(158, 155, 155);
  background-color: rgb(254, 254, 254);
  padding: 20px;
}

h2 {
  margin-top: 0px;
  font-family: monospace;
  font-size: 20pt;
  font-weight: 600px;
}

.itemDescription {
  font-family: Arial, Helvetica, sans-serif;
}

.current-price {
  font-size: 20px;
  color: green;
  font-weight: bold;
}

button {
  width: 100%;
  background-color: lightblue;
  height: 2em;
  border: 2px rgb(93, 155, 176) solid;
  border-radius: 1em;
}
